/*General styles START*/

* {
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-family: 'Lato', sans-serif;
/*	border: 1px solid black;*/
}

main {
	position: relative;
	width: 100%;
	margin-top: 5%;
	margin-bottom: 10px;
	background-color: #fff;
	color: #000;
	margin-bottom: 10px;
	
/*
-webkit-box-shadow: 0px 0px 83px 12px rgba(138,138,138,0.51);
-moz-box-shadow: 0px 0px 83px 12px rgba(138,138,138,0.51);
box-shadow: 0px 0px 83px 12px rgba(138,138,138,0.51);
*/
	
}
.content {
	background-color: #fff;
	width: 70%;
	margin: 1vmax 15%;
	padding: 1vmax;
	-webkit-box-shadow: 0px 0px 83px 12px rgba(138,138,138,0.51);
-moz-box-shadow: 0px 0px 83px 12px rgba(138,138,138,0.51);
box-shadow: 0px 0px 83px 12px rgba(138,138,138,0.51);
/*	border: 1px solid #02252F;*/
}


.section-header {
	top: 1vmax;
	position: relative;
	text-align: center;
	font-size: 4vmax;
	text-transform: uppercase;
/*	border: 1px solid #02252F;*/
	margin: 3vmax 5vmax;
	padding: 2vmax 0 1vmax 0;
	text-shadow: 1px 1px 5px gray;
	
}

.section-content-outer {
	padding: 1vmax 5vmax 3vmax 5vmax;
	
}

.section-content-header {
	text-align: center;
	font-size: 2vmax;
	margin: 0 40% 2vmax 40%;
	padding: 1vmax 0 0.5vmax 0;
	border-bottom: 1px solid #02252F;
	text-shadow: 1px 1px 2px gray;
}

.section-content-inner {
	text-align: justify;
	line-height: 1.5vmax;
	font-size: 1vmax;
}

p {
	padding: 1vmax;
	
}

/*General styles STOP*/

/*Menu styles START*/

nav#menu {
	width: 100%;
	height: 3vmax;
	position: fixed; 
	z-index: 10;
	font-size: 0;
	background-color: #fff;
	
}

#menu-header {
	display: none;	
}

#menu-list {
	padding: 0;
	height: inherit;
	margin: 0;
	left: 80%;
	width: 20%;
	position: relative;
}


.menu-list-item { 
	display: inline-block;	
	width: 25%;
	height: inherit;
	position: relative;
	transition: all 0.5s;
}

.menu-list-item a {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 100%;
	height: inherit;
	line-height: 1.1;
	font-size: 1vmax;
	color: #02252F;
	padding: 1vmax;
	transition: all 0.5s;
}

.menu-list-item:hover {
/*
background: repeating-linear-gradient(
  to right,
  	#00003C,
  #00003C 20px,
  #fff 1px,
  #00003C 21px
); 
*/
	background-color: #02252F;
	color: #fff;
	cursor: pointer;
}

.menu-list-item a:hover {
	color: #fff;
}

/*Menu styles STOP*/

/*Header styles START*/

#main-header {
	background-image: url("../images/main-header.jpg");
	background-size: cover;
	width: 100%;
	height: 100vmin;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 3vmax;	
}

#main-header h1 {
	position: relative;
	left: 50%;
	right: 50%;
	width: auto;
	transform: translate(-50%,-50%);
	top: 50%;
	font-size: 6vmax;
	text-shadow: 1px 1px 5px gray;
	padding: 0 233px;	
}

#main-header h2 {
	position: relative;
	top: 45%;
	font-size: 2.5vmax;
	width: auto;
	border: none;
	text-shadow: 1px 1px 5px gray;
	font-weight: 300;
}

/*Header styles STOP*/

/*Border styles START*/

#border {
	-webkit-box-shadow: 0px 0px 0px 0px;
	-moz-box-shadow: 0px 0px 0px 0px;
	box-shadow: 0px 0px 0px 0px;
	font-size: 1.5vmax;
	font-weight: 300;
	margin: 2vmax 20%;
	text-align: center;
	width: 60%;
	line-height: 1.5;
	
	
}
/*Border styles START*/

/*Nav guide START*/

#guide-nav {
-webkit-box-shadow: 0px -2px 4px 0px rgba(138,138,138,0.51);
-moz-box-shadow: 0px -2px 4px 0px rgba(138,138,138,0.51);
box-shadow: 0px -2px 4px 0px rgba(138,138,138,0.51);	
}

#guide-nav h2 {
	font-size: 3vmax;
	text-transform: uppercase;
	text-align: center;
	margin: 0vmax 30% 1vmax 30%;
	padding: 3vmax 3vmax 1vmax 3vmax;
	border-bottom: 1px solid #02252F;
	text-shadow: 1px 1px 5px gray;	
}

#guide-nav-outer {
	margin: 0vmax 30% 3vmax 30%;
	position: relative;
	height: 20vmax;
/*	font-size: 0;*/
}

.guide-nav-list {
	width: inherit;
	list-style: none;
	position: relative;
	margin: 0 20%;
	padding: 0;
}

.guide-nav-list li {
	display: inline-block;
}

.guide-nav.section {
	padding: 1vmax;
	padding-left: 0;
	width: 6vmax;
	text-transform: uppercase;
}

.guide-nav a {
	text-decoration: none;
	color: #02252F;
}

.guide-nav.article {
	padding: 0.2vmax;
}

.guide-nav.article a {
	color: #000;
}














/*Nav #guide STOP*/

