/*General styles START*/

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
/*	border: 1px solid black;*/
}

main {
	width: 100%;
	-webkit-box-shadow: 0px -2px 4px 0px rgba(138,138,138,0.51);
	-moz-box-shadow: 0px -2px 4px 0px rgba(138,138,138,0.51);
	box-shadow: 0px -2px 4px 0px rgba(138,138,138,0.51);
	padding-bottom: 1em;
}

.section {
	width: 100%;
	padding: 1em;
	font-size: 1em;
	text-align: center;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(138,138,138,0.51);
	-moz-box-shadow: 0px 2px 4px 0px rgba(138,138,138,0.51);
	box-shadow: 0px 2px 4px 0px rgba(138,138,138,0.51);
}


.section-header {
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
	padding: 1em 0 2em 0;
	text-shadow: 1px 1px 5px gray;	
}

.section-content-header {
	text-align: center;
	font-size: 2em;
	margin: 0 40% 2em 40%;
	padding: 1em 0 0.5em 0;
	border-bottom: 1px solid #02252F;
	text-shadow: 1px 1px 2px gray;
}

/*General styles STOP*/

/*Menu styles START*/

nav#menu {
	width: 100%;
	height: 50px;
	position: fixed; 
	z-index: 10;
	background-color: #fff;
	
}

#menu-header {
	display: none;	
}

#menu-list {
	padding: 0;
	height: inherit;
	margin: 0;
	left: 80%;
	width: 20%;
	position: relative;
	font-size: 1em;
}


.menu-list-item { 
	display: inline-block;	
	width: 25%;
	height: inherit;
	position: relative;
	transition: all 0.5s;
	font-size: 1em;
}

.menu-list-item a {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 100%;
	height: inherit;
	line-height: 1.1;
	font-size: 1em;
	color: #02252F;
	padding: 1em;
	transition: all 0.1s;
}

.menu-list-item:hover {
	background-color: #02252F;
	color: #fff;
	cursor: pointer;
}

.menu-list-item a:hover {
	color: #fff;
}

/*Menu styles STOP*/

/*Header styles START*/

#main-header {
	background-image: url("../images/main-header.jpg");
	background-size: cover;
	width: 100%;
	height: 100vh;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	background-position: 0 10%;
}

#main-header h1 {
	position: relative;
	left: 50%;
	right: 50%;
	width: auto;
	transform: translate(-50%,-50%);
	top: 50%;
	font-size: 6em;
	text-shadow: 1px 1px 5px gray;
	padding: 0 233px;	
}

#main-header h2 {
	position: relative;
	top: 45%;
	font-size: 2.5em;
	width: auto;
	border: none;
	text-shadow: 1px 1px 5px gray;
	font-weight: 300;
}

/*Header styles STOP*/

/*Border styles START*/

#border {
	padding-top: 3em;
	box-shadow: 0px 0px 0px 0px;
}

#border div {
	font-weight: 300;
	width: 70%;
	margin: 0 15%;
	line-height: 2em;
	font-size: 1.5em;
}

/*Border styles START*/

/*Nav guide START*/

#guide-nav {
	padding-top: 5em;
	padding-bottom: 0;
}

#guide-nav h2 {
	font-size: 3em;
}

.guide-nav-list {
	margin: 0 30%;
	position: relative;
/*
	border-top: 1px solid #02252F;
	border-bottom: 1px solid #02252F;
*/
	list-style: none;
	position: relative;
	padding: 0;
	text-align: center;
	font-size: 0;
/*
	-webkit-box-shadow: 1px 1px 15px 5px rgba(138,138,138,0.51);
-moz-box-shadow: 1px 1px 15px 5px rgba(138,138,138,0.51);
box-shadow: 1px 1px 15px 5px rgba(138,138,138,0.51);
*/
}

.guide-nav-item {
	width: 25%;
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: 300;
	line-height: 3em;
	text-shadow: 0.5px 0.5px 0.5px lightgray;
	display: inline-block;
/*	border-bottom: 1px solid #02252F;*/
/*
	-webkit-box-shadow: 0px 2px 4px 0px rgba(138,138,138,0.51);
	-moz-box-shadow: 0px 2px 4px 0px rgba(138,138,138,0.51);
	box-shadow: 0px 2px 4px 0px rgba(138,138,138,0.51);
*/
}

.guide-nav-item:hover a {
	background-color: #02252F;
	color: #fff;
}

.guide-nav-item a {
	display: block;
	color: #02252F;
	text-decoration: none;
	padding: 0.5em;
	transition: all 0.1s;

}

/*Nav #guide STOP*/

/*Main Guide START*/

/*Beginning Section START*/

.section.begin {
	position: relative;
	background-image: url("../images/header.jpg");
	background-size: cover;
	height: 35em;
	
}

#begin .section-header {
	color: #fff;
	transition: all 0.5s;			
	margin: 0;
	padding: 0;
}
#begin:hover .section-header {
	transform: translateY(-6em);
	color: #000;
}


